@model EditMenuViewModel

@{
    ViewBag.Title = "Edit Menu";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control">
                </div>
            </div>

            //TODO ADD IMAGE AND DESCRIPTION
            @foreach (var pizza in Model.MenuPizzas)
            {
                <div class="mb-2">
                    <span>@pizza.Name</span>
                    <a asp-controller="Menu" asp-action="RemovePizzaFromMenu" asp-route-menuId="@Model.Id" asp-route-pizzaId="@pizza.Id" class="btn btn-danger btn-sm">Remove</a>
                </div>
            }
            //TODO ADD BUTTON TO ADD PIZZA
            <div class="row m-0">
                <div class="col-md-6">
                    <a asp-controller="Menu" asp-action="All" class="btn btn-primary w-100">Back</a>
                </div>
                <div class="col-md-6">
                    <input class="btn btn-danger w-100" type="submit" value="Edit" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}