@model DeleteMenuViewModel;

@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-area="Admin" method="post">
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" disabled="disabled">
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" disabled="disabled">
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-6">
                    <a asp-area="" asp-controller="Menu" asp-action="All" class="btn btn-primary w-100">Back</a>
                </div>
                <div class="col-md-6">
                    <input class="btn btn-danger w-100" type="submit" value="Delete" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}