<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <div class="d-flex justify-content-between mb-3">
                <a asp-action="Add" class="btn btn-success w-50 me-2">Add Dough</a>
                <a asp-action="Remove" class="btn btn-danger w-50">Remove Dough</a>
            </div>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary w-100">Back</a>
        </div>
    </div>
</div>