@model IEnumerable<DoughViewModel>

@{
    ViewBag.Title = "Remove dough";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row d-flex justify-content-center">
    @foreach (var topping in Model)
    {
        <div class="mb-2">
            <div class="row justify-content-end">
                <div class="col-md-6 justify-content-end">
                    <h4>@topping.Name</h4>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                    <a asp-controller="Dough" asp-action="RemoveDough" asp-route-doughId="@topping.Id" class="btn btn-danger btn-sm">Remove dough</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center mt-3">
    <a asp-controller="Product" asp-action="Options" class="btn btn-primary">Back to dough options</a>
</div>